/* RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    display: inline-block;
}

a {
    text-decoration: none;
    color: inherit;
}

/* HEADER */
header {
    background-color: black;
    height: 70px;
    width: 100%;
    position: relative;
}

header div {
    height: 100%;
    position: absolute;
    top: 15px;
    right: 5px;
}

header span {
    color: white;
    background-color: #4a4a4a;
    padding: 6px;
    border-radius: 7px;
}

/* MAIN */
main {
    background-color: black;
    height: calc(100vh - 170px);
}

.container-flex {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    margin: auto;
    overflow-y: auto;
    
}

.box {
    width: min-content;  
    height: min-content;
    margin: 5px;
    position: relative;
}

.box-info {
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 5px;
    position: absolute;
    bottom: 10px;
    left: 0;
}

/* FOOTER */
footer {
    background-color: lightgreen;
    height: 100px;
    width: 100%;
}

